<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.coder4.homs.demo.server.mybatis.mapper.UserMapper">
    <sql id="FIELDS">
        id, name
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.coder4.homs.demo.server.mybatis.dataobject.UserDO">
        INSERT INTO users (
        name
        ) VALUES (
        #{name}
        )
    </insert>
    <select id="getUser"
            parameterType="Long"
            resultType="com.coder4.homs.demo.server.mybatis.dataobject.UserDO">
        SELECT
            <include refid="FIELDS"></include>
        FROM users
        WHERE id = #{id}
    </select>
    <select id="getUserByName"
            parameterType="String"
            resultType="com.coder4.homs.demo.server.mybatis.dataobject.UserDO">
        SELECT
        <include refid="FIELDS"></include>
        FROM users
        WHERE name = #{name}
    </select>
</mapper>